//Global
@import '../variables/colors';
@import '../variables/typography';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // border: 1px solid red;
}

::placeholder {
  // padding-left: 55px;
  font-family: 'Titillium';
  color: $form-font-color;
  font-size: $font-size-xs;
}

body {
  font-family: Titillium-600;
  background-image: linear-gradient(red, #7efff5);
  background-repeat: no-repeat;
}

h2 {
  font-size: $font-size-xl;
  color: $white;
  text-shadow: 1px 2px 2px rgba(43, 1, 0, 0.75);
  text-align: center;
  padding: 60px 0 30px 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 11px;
  // width: 90%;
  width: 420px;
  background-color: $form-bcg;
  box-shadow: 0 0 0 20px rgba(black, .23);
}

.input-text {
  margin: 11px;
  width: 340px;
  // width: 95%;
  height: 41px;
  background-color: $input-bcg;
  border: 1px solid #c6c6c6;
  padding-left: 60px;
}

.msg-input {
  height: 230px;
  width: 340px;
}

.input-btn-big {
  margin: 15px 0 25px 0;
  width: 340px;
  height: 48px;
  border-radius: 4px;
  font-size: $font-size-l;
}

.input-btn-small {
  width: 150px;
  height: 41px;
  border-radius: 4px;
  font-size: $font-size-m;
}

.ok-btn {
  background-color: $ok-btn-color;
  color: $white;
  text-shadow: 1px 1px 0 #51850e;
  cursor: pointer;
  font-family: 'Titillium-600';
}

.nok-btn {
  background-color: $nok-btn-color;
  color: $white;
  cursor: pointer;
  font-family: 'Titillium-600';
}

.container {
  max-width: 100%;
  width: 1100px;
  display: flex;
  justify-content: space-evenly;
  margin: 40px auto;

}

// .big-forms {
//   width: 420px;
//   height: 1100px;
// }

// .small-forms {
//   width: 420px;
//   height: 870px;
// }


.btn-sign-container,
.btn-recover-container,
.btn-sub-container {
  display: flex;
  justify-content: space-between;
  width: 340px;
  margin: 25px 0;
}

//Input icons
.input-container {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 22px;
  top: 18px;
  font-size: $font-size-l;
  color: $form-font-color;
  opacity: .7;

  &:after {
    content: '';
    position: absolute;
    left: 33px;
    border: 1px solid $form-font-color;
    height: 25px;
  }
}

//Checkbox
.checkbox-container {
  width: 85%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.checkbox-text {
  padding-left: 15px;
  font-size: $font-size-s;
  color: $form-font-color;
  font-family: 'Titillium';
}
