//Global
@import '../variables/colors';
@import '../variables/typography';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  //border: 1px solid red;
}

body {
  font-family: Titillium-600;
  background-image: linear-gradient(red, #7efff5);
  background-repeat: no-repeat;
}

h2 {
  font-size: $font-size-xl;
  color: $white;
  text-shadow: 1px 2px 2px rgba(43, 1, 0, 0.75);
  text-align: center;
  padding: 40px 0 20px 0;
}

input {
  margin: 11px;
  width: 340px;
  width: 80%;
  height: 41px;
  background-color: $input-bcg;
  text-shadow: 1px 2px 2px rgba(43, 1, 0, 0.75);
  border: 1px solid #c6c6c6;
}

.container {
  max-width: 100%;
  width: 1100px;
  display: flex;
  justify-content: space-evenly;
  margin: 40px auto;

}

// .big-forms {
//   width: 420px;
//   height: 1100px;
// }

// .small-forms {
//   width: 420px;
//   height: 870px;
// }

.register-form,
.mail-form,
.sign-form,
.recover-form,
.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  // width: 90%;
  width: 420px;
  background-color: $form-bcg;
  box-shadow: 0 0 0 20px rgba(black, .23);
}

.btn-sign-container,
.btn-recover-container,
.btn-sub-container {
  display: flex;
  width: 85%;
}