//Colors

$white: #ffffff;
$black: #000000;
$ok-btn-color:#93d02b;
$inactive-btn-color:#bcdb97;
$inactive-btn-border:#90ca6d;
$ok-btn-border:#3b9a00;
$nok-btn-color:#f4495b;
$nok-btn-border:#a2202a;
$form-bcg:#f4f4f4;
$input-bcg:#f8f8f8;
$input-border:#c6c6c6;
$form-font-color:#afafaf;
$checkbox-bcg:#88c814;
